.SearchListItem {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white
}


.search-list-box-item-field {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18%;
    /* line-height: 27px; */

    color: #000000;

    height: fit-content;
    width: fit-content;


    border: none;
    background: white;
    margin-left: 5.3%;
    width: 87.5%;
    /* height: 55%; */
}
.SearchListItem-list-item-string:hover{
    cursor: pointer;
}
.SearchListItem-list-item-string{
    display: inline;
    margin: 0px;
    padding: 0px;
}